NEXT_PUBLIC_SUPABASE_URL=https://wheoenbnxytsfaifpvrt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cDprf0zEmmn4YGuyBeJe9g_q8J-QdXo
NEXT_PUBLIC_WEDDING_DATE=2027-01-29
# SUPABASE_SERVICE_ROLE_KEY=
